/* bar chart */
.css-1vuxth3-MuiBarElement-root,
.css-1mht7iu {
  fill: #7551ff !important;
}
.css-6kig8r-MuiBarElement-root,
.css-yu72g0 {
  fill: #6ad2ff !important;
}
.css-156rdpn-MuiBarElement-root,
.css-19e2ox9 {
  fill: #dde6fb !important;
}
/* line chart */
.css-wn5hww-MuiLineElement-root {
  stroke: #7551ff !important;
}

.MuiChartsAxis-root .MuiChartsAxis-directionY path {
  stroke: #7551ff !important;
}
